<html>
    <body>
        <div>Redirection en cours ...</div>
        <script>
            var w = window.opener;
            w.appfigures.oauthCallback();
            window.close();
        </script>
    </body>
</html>